-- Fix corrupted password hashes
-- Default password for all users: password123
USE ums_db;
GO

-- User: asilva
UPDATE [User] SET password_hash = '$2a$12$SvGjYREVnjrL5C7qys9wtuViG66b1fsN8/69T16I6CBbb4MZg.wuy' WHERE username = 'asilva';
-- User: dbandara
UPDATE [User] SET password_hash = '$2a$12$2a3qN.KAjDiy//LwLAmRgOeAEVKbbci9GTUmznf7mcNwkvou3Vh5G' WHERE username = 'dbandara';
-- User: kwijesinghe
UPDATE [User] SET password_hash = '$2a$12$wxMS1vEDRE2YqDCxsXCi6OPNtrj3OJ9B/JXRBswH83Op/UzI8UFSm' WHERE username = 'kwijesinghe';
-- User: lranasinghe
UPDATE [User] SET password_hash = '$2a$12$n75G2PWkljGwzgtSVLb3jeGEGozqXYnyDcixVpRTYb6bnp1jqrEP2' WHERE username = 'lranasinghe';
-- User: mgamage
UPDATE [User] SET password_hash = '$2a$12$bvwAdwFJB2hssDoUCKVOfeA4s6StFUcnAQ4qofHV8OcNl9ScZxkJW' WHERE username = 'mgamage';
-- User: ndias
UPDATE [User] SET password_hash = '$2a$12$UuOfkATWZAoOzh/dzqn0Qe.dqOMOOVU4iG43dJKlVmjzTWXpBYYuC' WHERE username = 'ndias';
-- User: pweerasinghe
UPDATE [User] SET password_hash = '$2a$12$KbFpUGquNpK/076Lz0LES.DUEKzMd9SPZmgHyRMoaBFnzm.gh1AAu' WHERE username = 'pweerasinghe';
-- User: sfernando
UPDATE [User] SET password_hash = '$2a$12$WZrPFCL3DVh9WkWNgHVkEu24xh0pV/teQ538vkmHawoOzWFy6hQ4a' WHERE username = 'sfernando';
-- User: tgunasekara
UPDATE [User] SET password_hash = '$2a$12$MZRyU1uNvKO8jE3Xii138e2gRiWcpWXMLunBG7ZKEizwaMW.2m.sC' WHERE username = 'tgunasekara';

GO

-- Verify all hashes are now 60 characters
SELECT username, LEN(password_hash) as hash_length FROM [User] ORDER BY username;
GO
